{% extends "layout.html" %}
{% block title %}图像滤波{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
<div class="col">
    <div class="row">
        <form action="{{ url_for('filter', f=fucntion, k=kernel)}}" method="GET" target="_blank">
            <div class="form-group">
                <label for="exampleFormControlSelect1">图像滤波</label>
                <select class="form-control" id="exampleFormControlSelect1" name="function">
                    <option value="average">均值滤波</option>
                    <option value="median">中值滤波</option>
                    <option value="gaussian">高斯滤波</option>
                    <option value="sobelx">Sobel X</option>
                    <option value="sobely">Sobel Y</option>
                    <option value="laplacian">Laplacian</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">kernel</label>
                <select class="form-control" id="exampleFormControlSelect1" name="kernel">
                    <option value="3">3×3</option>
                    <option value="5">5×5</option>
                    <option value="7">7×7</option>
                    <option value="9">9×9</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">确定</button>
        </form>
    </div>
    <div class="row">
            <div class="alert alert-primary" role="alert" style="margin:5px 0 6px 0">
                原始图像
            </div>
        </div>
    <div class="row">
            <img src="../static/lena.jpg" alt="原图" />
        </div>
</div>
{% endblock %}