{% extends "layout.html" %}
{% block title %}图像处理大作业{% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block body %}
<div class="col">
    <div class="row">
        <form action="{{ url_for('morph', f=fucntion, k=kernel)}}" method="GET" target="_blank">
            <div class="form-group">
                <label for="exampleFormControlSelect1">形态学</label>
                <select class="form-control" id="exampleFormControlSelect1" name="function">
                    <option value="open">开运算</option>
                    <option value="close">闭运算</option>
                    <option value="dilate">膨胀</option>
                    <option value="erode">腐蚀</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">kernel</label>
                <select class="form-control" id="exampleFormControlSelect1" name="kernel">
                    <option value="3">3×3</option>
                    <option value="5">5×5</option>
                    <option value="7">7×7</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">确定</button>
        </form>
    </div>
</div>
{% endblock %}